In [2]:
import pandas as pd

In [18]:
import random
lst = ['robot'] * 10
lst += ['human'] * 10
lst += ['kiborg'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

   whoAmI
0   human
1   robot
2   robot
3   human
4  kiborg

In [19]:
data.loc[data['whoAmI']=='human','human'] = '1'
data.loc[data['whoAmI']!='human','human'] = '0'
data.loc[data['whoAmI']=='robot','robot'] = '1'
data.loc[data['whoAmI']!='robot','robot'] = '0'
data.head()

   whoAmI human robot
0   human     1     0
1   robot     0     1
2   robot     0     1
3   human     1     0
4  kiborg     0     0